*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
    background: radial-gradient(circle at center, #1a1a22, #0f0f14);

  color: #eaeaf0;
}